.aboutdiv{
  background-color: rgb(14, 56, 44);
  height: 800px;
  width: 100%;
  position: relative;
  top: 280px;
}
.aboutlogoimg{
  position: relative;
  top: 130px;
  left: 263px;
}
.aboutinfodiv{
  display: flex;
  position: relative;
  top: 45px;
  left: 480px;
  width: 1100px;
}
.ab1{
  flex: 1;
  ;
}
.ab2{
  flex: 1;
}
.ab3{
  flex: 1;
}
.ab4{
  flex: 1;
}
.ab5{
  flex: 1;
}
.aboutheading{
  font-weight: bold;
  font-size: 18px !important;
  color: white;
}
.aboutinfodiv p{
  font-family: Helvetica;
  color: rgb(228, 228, 228);
  margin-top:30px;
  font-size: 14px;
  transition: color 0.3s;
  cursor: pointer;
}
.aboutinfodiv p:hover{
  color: rgb(164, 164, 164);
}
.sm{
  font-size: 20px !important;
  font-weight: bold;
}
.simg{
  display:flex;
  gap: 20px;
}
.playimg{
  margin-top: 30px;
}
.lastdiv{
  position: relative;
  top: 120px;
  left: 260px;
  width: 1300px;
  height: 40px;
  border-top:solid 1px;
  border-color: rgb(134, 134, 134);
  display: flex;
  justify-content:space-between;
}
.lastp{
  color: rgb(202, 202, 202);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  cursor: pointer;
}
.lastp:hover{
  color: rgb(137, 137, 137);
}
.ll{
  color: rgb(202, 202, 202);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  cursor: pointer;
}