body{
  margin: 0;
  overflow-x: hidden;
}
.header{
  display: flex;
  justify-content:space-evenly;
  position: sticky;
  background-color:rgb(255, 255, 255);
  z-index: 1000;
  top: 0;
  width: 100%;
}
.green{
  background-color:rgb(30, 57, 50);
  width: 100%;
  height: 80px;
  position: absolute;
  top: 75px;
  cursor: pointer;
  margin-bottom: 0;
}
.add{
  background-color: rgb(9, 144, 127);
  width: 1270px;
  height: 220px;
  border-radius: 8px;
  position: relative;
  top: 118px;
  right: -275px;
  cursor: pointer;
}
